body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 70;
}

.logo {
    max-height: 50px;
    width: auto;
    margin-left: 20px;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 70vh;
    display: flex;
    align-items: center;
}
.container{
    padding: 120px;
}

.home-content{
    max-width: 700px;
}

.home-content h1{
    font-size: 36px;
    font-weight: 150;
}

.About {
    height: 70vh;
    display: flex;
    align-items: center;
}
.Aboutcontainer{
    padding: 120px;
}

.About-content{
    max-width: 700px;
}

.About-content h1{
    font-size: 36px;
    font-weight: 150;
}

.ContactUs {
    height: 70vh;
    display: flex;
    align-items: center;
}
.ContactUscontainer{
    padding: 120px;
}

.ContactUs-contect{
    max-width: 700px;
}

.ContactUs-content h1{
    font-size: 36px;
    font-weight: 150;
    line-height: 1.2;
}

.About-content h3{
    font-size: 40px;
    font-weight: 400;
    color: #00abf0;
}

.About-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.About-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box  a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background-color: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}


.btn-box a:nth-child(2)::before{
    background:#00abf0;
}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: red;
}